In [118]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from matplotlib import pyplot as plt
%matplotlib inline
import statsmodels.formula. api as sm
import seaborn as sns

In [119]:
df = pd.read_csv('kc_house_data.csv')

In [120]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [121]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [123]:
df.shape

(21613, 21)

In [124]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [125]:
df.drop(columns = ['id', 'date', 'waterfront', 'view'], inplace = True)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [126]:
df.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
price,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.036362,0.667434,0.605567,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447
bedrooms,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,0.028472,0.356967,0.477600,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244
bathrooms,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,-0.124982,0.664983,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175
sqft_living,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,-0.058753,0.762704,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286
sqft_lot,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,-0.008958,0.113621,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557
floors,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,-0.263768,0.458183,0.523885,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269
condition,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,1.000000,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406
grade,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,-0.144674,1.000000,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248
sqft_above,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,-0.158214,0.755923,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050
sqft_basement,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.174105,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276
yr_built,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.361417,0.446963,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958
yr_renovated,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,-0.060618,0.014414,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854
zipcode,-0.053203,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.003026,-0.184862,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221
lat,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014941,0.114084,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419
long,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.106500,0.198372,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451
sqft_living15,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,-0.092824,0.713202,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192
sqft_lot15,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,-0.003406,0.119248,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000

In [127]:
dfz= df.copy()

In [128]:
dfz.shape

(21613, 17)

In [129]:
df['zscore_bedrooms']= np.abs(stats.zscore(df['bedrooms']))
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,zscore_bedrooms
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0.398737
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,0.398737
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,1.473959
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0.676485
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0.398737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,0.398737
21609,400000.0,4,2.50,2310,5813,2.0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,0.676485
21610,402101.0,2,0.75,1020,1350,2.0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,1.473959
21611,400000.0,3,2.50,1600,2388,2.0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,0.398737
21612,325000.0,2,0.75,1020,1076,2.0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,1.473959

In [130]:
z_outliers = df.loc[df['zscore_bedrooms'] > 3].index
print(z_outliers)

Int64Index([  556,   875,  1135,  1241,  1660,  3119,  3467,  3721,  4024,
             4035,  4067,  4096,  4235,  4717,  4760,  4867,  4868,  6079,
             6174,  6994,  7023,  7191,  8120,  8477,  8484,  8516,  8546,
             8629,  8757,  9077,  9132,  9452,  9659,  9732,  9773,  9854,
            10275, 10787, 10958, 12017, 12605, 12608, 12653, 12765, 12777,
            12885, 13120, 13314, 14030, 14201, 14423, 14915, 15022, 15070,
            15161, 15246, 15521, 15670, 15751, 15870, 16313, 16736, 16844,
            17235, 17335, 18379, 18443, 18460, 18477, 18823, 18975, 19254,
            19302, 19327, 19452],
           dtype='int64')

In [131]:
dfz.iloc[[556, 875,  1135,  1241,  1660,  3119,  3467,  3721,  4024,
             4035,  4067,  4096,  4235,  4717,  4760,  4867,  4868,  6079,
             6174,  6994,  7023,  7191,  8120,  8477,  8484,  8516,  8546,
             8629,  8757,  9077,  9132,  9452,  9659,  9732,  9773,  9854,
            10275, 10787, 10958, 12017, 12605, 12608, 12653, 12765, 12777,
            12885, 13120, 13314, 14030, 14201, 14423, 14915, 15022, 15070,
            15161, 15246, 15521, 15670, 15751, 15870, 16313, 16736, 16844,
            17235, 17335, 18379, 18443, 18460, 18477, 18823, 18975, 19254,
            19302, 19327, 19452]]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
556,1950000.0,7,3.50,4640,15235,2.0,3,11,2860,1780,1965,2003,98040,47.5666,-122.231,3230,20697
875,1095000.0,0,0.00,3064,4764,3.5,3,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
1135,420000.0,7,3.00,2940,8624,1.0,3,8,1690,1250,1977,0,98155,47.7555,-122.307,1850,8031
1241,350000.0,7,3.00,2800,9569,1.0,3,7,1400,1400,1963,0,98056,47.5102,-122.183,2150,7333
1660,490000.0,8,5.00,2800,2580,2.0,3,8,1880,920,1997,0,98122,47.6086,-122.303,1800,2580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18975,1240000.0,7,5.50,6630,13782,2.0,3,10,4930,1700,2004,0,98006,47.5399,-122.118,4470,8639
19254,660000.0,10,3.00,2920,3745,2.0,4,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745
19302,575000.0,8,3.00,3840,15990,1.0,3,7,2530,1310,1961,0,98034,47.7111,-122.211,1380,8172
19327,824000.0,7,4.25,3670,4000,2.0,3,8,2800,870,1964,0,98199,47.6375,-122.388,2010,4000
19452,142000.0,0,0.00,290,20875,1.0,1,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850

In [139]:
bins = [200000, 800000, 1800000, 2800000, 4000000, 8000000]

In [140]:
bin_labels = ['grade F', 'grade D', 'grade C', 'grade B', 'grade A']

In [142]:
dfz["price Grades"] = pd.cut(df["price"], bins, labels = bin_labels)
dfz.head(20)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price Grades
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,grade F
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,grade F
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,NaN
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,grade F
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,grade F
5,1225000.0,4,4.50,5420,101930,1.0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,grade D
6,257500.0,3,2.25,1715,6819,2.0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,grade F
7,291850.0,3,1.50,1060,9711,1.0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,grade F
8,229500.0,3,1.00,1780,7470,1.0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,grade F
9,323000.0,3,2.50,1890,6560,2.0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,grade F
10,662500.0,3,2.50,3560,9796,1.0,3,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,grade F
11,468000.0,2,1.00,1160,6000,1.0,4,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000,grade F
12,310000.0,3,1.00,1430,19901,1.5,4,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,grade F
13,400000.0,3,1.75,1370,9680,1.0,4,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,grade F
14,530000.0,5,2.00,1810,4850,1.5,3,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,grade F
15,650000.0,4,3.00,2950,5000,2.0,3,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,grade F
16,395000.0,3,2.00,1890,14040,2.0,3,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,grade F
17,485000.0,4,1.00,1600,4300,1.5,4,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,grade F
18,189000.0,2,1.00,1200,9850,1.0,4,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,NaN
19,230000.0,3,1.00,1250,9774,1.0,4,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,grade F

In [138]:
dfz = dfz.drop(z_outliers)

print(dfz.shape)

(21538, 17)

In [100]:
df['price'].max()

7700000.0

In [101]:
df['price'].min()

75000.0

In [102]:
df['price'].mean()

540088.1417665294

In [103]:
df['price'].median()

450000.0

In [104]:
df['bedrooms'].max()

33

In [105]:
df['bedrooms'].min()

0

In [106]:
df['bathrooms'].max()

8.0

In [107]:
df['bathrooms'].min()

0.0

In [108]:
df['sqft_living'].max()

13540

In [109]:
df['sqft_living'].min()

290

In [110]:
df['floors'].max()

3.5

In [117]:
df.loc[((df['price'] < 600000) & (df['bedrooms'] == 3) & (df['condition'] == 3))] 
df.head(10)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,zscore_bedrooms
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0.398737
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,0.398737
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,1.473959
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0.676485
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0.398737
5,1225000.0,4,4.50,5420,101930,1.0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,0.676485
6,257500.0,3,2.25,1715,6819,2.0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,0.398737
7,291850.0,3,1.50,1060,9711,1.0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,0.398737
8,229500.0,3,1.00,1780,7470,1.0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,0.398737
9,323000.0,3,2.50,1890,6560,2.0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,0.398737

In [152]:
df['price'].groupby(df['bedrooms']).mean()

bedrooms
0     4.095038e+05
1     3.176429e+05
2     4.013727e+05
3     4.662321e+05
4     6.354195e+05
5     7.865998e+05
6     8.255206e+05
7     9.511847e+05
8     1.105077e+06
9     8.939998e+05
10    8.193333e+05
11    5.200000e+05
33    6.400000e+05
Name: price, dtype: float64

In [153]:
df['price'].groupby(df['bathrooms']).mean()

bathrooms
0.00    4.481600e+05
0.50    2.373750e+05
0.75    2.945209e+05
1.00    3.470412e+05
1.25    6.212167e+05
1.50    4.093222e+05
1.75    4.548961e+05
2.00    4.578897e+05
2.25    5.336768e+05
2.50    5.535965e+05
2.75    6.602304e+05
3.00    7.084152e+05
3.25    9.703398e+05
3.50    9.319331e+05
3.75    1.197217e+06
4.00    1.267709e+06
4.25    1.525774e+06
4.50    1.333620e+06
4.75    2.021304e+06
5.00    1.673492e+06
5.25    1.817177e+06
5.50    2.522300e+06
5.75    2.492500e+06
6.00    2.946833e+06
6.25    3.094000e+06
6.50    1.709445e+06
6.75    2.734000e+06
7.50    4.500000e+05
7.75    6.885000e+06
8.00    4.990000e+06
Name: price, dtype: float64

In [154]:
df['price'].groupby(df['sqft_living']).mean()

sqft_living
290       142000.0
370       276000.0
380       245000.0
384       265000.0
390       236500.0
           ...
9640     4668000.0
9890     6885000.0
10040    7062500.0
12050    7700000.0
13540    2280000.0
Name: price, Length: 1038, dtype: float64

In [155]:
df['price'].groupby(df['sqft_lot']).mean()

sqft_lot
520         700000.0
572         250000.0
600         367500.0
609        1234570.0
635         256950.0
             ...
982998      998000.0
1024068     855000.0
1074218     542500.0
1164794     190000.0
1651359     700000.0
Name: price, Length: 9782, dtype: float64

In [156]:
df['price'].groupby(df['floors']).mean()

floors
1.0    4.421806e+05
1.5    5.589806e+05
2.0    6.488912e+05
2.5    1.060346e+06
3.0    5.825260e+05
3.5    9.333125e+05
Name: price, dtype: float64

In [157]:
df['price'].groupby(df['condition']).mean()

condition
1    334431.666667
2    327287.145349
3    542012.578148
4    521200.390033
5    612418.089359
Name: price, dtype: float64

In [158]:
df['price'].groupby(df['grade']).mean()

grade
1     1.420000e+05
3     2.056667e+05
4     2.143810e+05
5     2.485240e+05
6     3.019196e+05
7     4.025903e+05
8     5.428528e+05
9     7.735132e+05
10    1.071771e+06
11    1.496842e+06
12    2.191222e+06
13    3.709615e+06
Name: price, dtype: float64

In [159]:
df['price'].groupby(df['yr_built']).mean()

yr_built
1900    581387.206897
1901    556935.931034
1902    673007.407407
1903    480958.195652
1904    583756.644444
            ...
2011    544522.000000
2012    527447.335294
2013    678545.452736
2014    683681.754919
2015    759785.157895
Name: price, Length: 116, dtype: float64

In [160]:
df['price'].groupby(df['zipcode']).mean()

zipcode
98001    2.808047e+05
98002    2.342840e+05
98003    2.941113e+05
98004    1.355927e+06
98005    8.101649e+05
             ...
98177    6.761854e+05
98178    3.106128e+05
98188    2.890783e+05
98198    3.028789e+05
98199    7.918208e+05
Name: price, Length: 70, dtype: float64

In [161]:
df.groupby(df['price']).mean()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
price,,,,,,,,,,,,,,,,
75000.0,1.0,0.00,670.0,43377.0,1.0,3.0,3.0,670.0,0.0,1966.0,0.0,98022.0,47.2638,-121.906,1160.0,42882.0
78000.0,2.0,1.00,780.0,16344.0,1.0,1.0,5.0,780.0,0.0,1942.0,0.0,98168.0,47.4739,-122.280,1700.0,10387.0
80000.0,1.0,0.75,430.0,5050.0,1.0,2.0,4.0,430.0,0.0,1912.0,0.0,98014.0,47.6499,-121.909,1200.0,7500.0
81000.0,2.0,1.00,730.0,9975.0,1.0,1.0,5.0,730.0,0.0,1943.0,0.0,98168.0,47.4808,-122.315,860.0,9000.0
82000.0,3.0,1.00,860.0,10426.0,1.0,3.0,6.0,860.0,0.0,1954.0,0.0,98146.0,47.4987,-122.341,1140.0,11250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5350000.0,5.0,5.00,8000.0,23985.0,2.0,3.0,12.0,6720.0,1280.0,2009.0,0.0,98004.0,47.6232,-122.220,4600.0,21750.0
5570000.0,5.0,5.75,9200.0,35069.0,2.0,3.0,13.0,6200.0,3000.0,2001.0,0.0,98039.0,47.6289,-122.233,3560.0,24345.0
6885000.0,6.0,7.75,9890.0,31374.0,2.0,3.0,13.0,8860.0,1030.0,2001.0,0.0,98039.0,47.6305,-122.240,4540.0,42730.0
7062500.0,5.0,4.50,10040.0,37325.0,2.0,3.0,11.0,7680.0,2360.0,1940.0,2001.0,98004.0,47.6500,-122.214,3930.0,25449.0
7700000.0,6.0,8.00,12050.0,27600.0,2.5,4.0,13.0,8570.0,3480.0,1910.0,1987.0,98102.0,47.6298,-122.323,3940.0,8800.0

In [162]:
pd.crosstab(df['condition'], df['grade'])

grade      1   3   4    5     6     7     8     9    10   11  12  13
condition
1           1   0   1    9    11     6     2     0    0    0   0   0
2           0   1   5   15    59    75    13     2    2    0   0   0
3           0   1  13  100  1035  5234  4269  2041  921  332  74  11
4           0   0  10   84   685  2833  1394   446  156   56  13   2
5           0   1   0   34   248   833   390   126   55   11   3   0

In [163]:
df['zscore_bedrooms'] = np.abs(stats.zscore(df['bedrooms']))
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,zscore_bedrooms
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0.398737
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,0.398737
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,1.473959
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0.676485
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0.398737

In [164]:
z_outliers = df.loc[df['zscore_bedrooms'] > 3].index
print(z_outliers)

Int64Index([  556,   875,  1135,  1241,  1660,  3119,  3467,  3721,  4024,
             4035,  4067,  4096,  4235,  4717,  4760,  4867,  4868,  6079,
             6174,  6994,  7023,  7191,  8120,  8477,  8484,  8516,  8546,
             8629,  8757,  9077,  9132,  9452,  9659,  9732,  9773,  9854,
            10275, 10787, 10958, 12017, 12605, 12608, 12653, 12765, 12777,
            12885, 13120, 13314, 14030, 14201, 14423, 14915, 15022, 15070,
            15161, 15246, 15521, 15670, 15751, 15870, 16313, 16736, 16844,
            17235, 17335, 18379, 18443, 18460, 18477, 18823, 18975, 19254,
            19302, 19327, 19452],
           dtype='int64')

In [165]:
df.iloc[[556, 875, 1135,  1241,  1660,  3119,  3467,  3721,  4024,
             4035,  4067,  4096,  4235,  4717,  4760,  4867,  4868,  6079,
             6174,  6994,  7023,  7191,  8120,  8477,  8484,  8516,  8546,
             8629,  8757,  9077,  9132,  9452,  9659,  9732,  9773,  9854,
            10275, 10787, 10958, 12017, 12605, 12608, 12653, 12765, 12777,
            12885, 13120, 13314, 14030, 14201, 14423, 14915, 15022, 15070,
            15161, 15246, 15521, 15670, 15751, 15870, 16313, 16736, 16844,
            17235, 17335, 18379, 18443, 18460, 18477, 18823, 18975, 19254,
            19302, 19327, 19452]]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,zscore_bedrooms
556,1950000.0,7,3.50,4640,15235,2.0,3,11,2860,1780,1965,2003,98040,47.5666,-122.231,3230,20697,3.902152
875,1095000.0,0,0.00,3064,4764,3.5,3,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000,3.624404
1135,420000.0,7,3.00,2940,8624,1.0,3,8,1690,1250,1977,0,98155,47.7555,-122.307,1850,8031,3.902152
1241,350000.0,7,3.00,2800,9569,1.0,3,7,1400,1400,1963,0,98056,47.5102,-122.183,2150,7333,3.902152
1660,490000.0,8,5.00,2800,2580,2.0,3,8,1880,920,1997,0,98122,47.6086,-122.303,1800,2580,4.977374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18975,1240000.0,7,5.50,6630,13782,2.0,3,10,4930,1700,2004,0,98006,47.5399,-122.118,4470,8639,3.902152
19254,660000.0,10,3.00,2920,3745,2.0,4,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745,7.127818
19302,575000.0,8,3.00,3840,15990,1.0,3,7,2530,1310,1961,0,98034,47.7111,-122.211,1380,8172,4.977374
19327,824000.0,7,4.25,3670,4000,2.0,3,8,2800,870,1964,0,98199,47.6375,-122.388,2010,4000,3.902152
19452,142000.0,0,0.00,290,20875,1.0,1,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850,3.624404

In [166]:
df.drop(z_outliers)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,zscore_bedrooms
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0.398737
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,0.398737
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,1.473959
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0.676485
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0.398737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,0.398737
21609,400000.0,4,2.50,2310,5813,2.0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,0.676485
21610,402101.0,2,0.75,1020,1350,2.0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,1.473959
21611,400000.0,3,2.50,1600,2388,2.0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,0.398737
21612,325000.0,2,0.75,1020,1076,2.0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,1.473959

In [167]:
print(df.shape)

(21613, 18)

In [186]:
result = sm.ols('price ~  bedrooms + bathrooms + sqft_living + sqft_lot + floors + condition  + grade + sqft_above + yr_built + lat + long + yr_renovated + zipcode + sqft_lot15 + sqft_living15', data = df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.662
Model:                            OLS   Adj. R-squared:                  0.661
Method:                 Least Squares   F-statistic:                     2815.
Date:                Thu, 04 Aug 2022   Prob (F-statistic):               0.00
Time:                        00:01:16   Log-Likelihood:            -2.9590e+05
No. Observations:               21613   AIC:                         5.918e+05
Df Residuals:                   21597   BIC:                         5.920e+05
Df Model:                          15
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept     -5.503e+06   3.09e+06     -1.779      0.075   -1.16e+07     5.6e+05
bedrooms      -4.608e+04   1996.696    -23.076      0.000      -5e+04   -4.22e+04
bathrooms      4.304e+04   3453.513     12.462      0.000    3.63e+04    4.98e+04
sqft_living     179.3417      4.593     39.049      0.000     170.340     188.344
sqft_lot          0.1582      0.051      3.112      0.002       0.059       0.258
floors         1.103e+04   3815.981      2.890      0.004    3547.633    1.85e+04
condition      2.923e+04   2495.633     11.713      0.000    2.43e+04    3.41e+04
grade          1.011e+05   2277.353     44.393      0.000    9.66e+04    1.06e+05
sqft_above        7.9361      4.564      1.739      0.082      -1.010      16.882
yr_built      -2831.5400     76.867    -36.837      0.000   -2982.204   -2680.876
lat            5.559e+05   1.13e+04     49.036      0.000    5.34e+05    5.78e+05
long           -2.52e+05   1.39e+04    -18.105      0.000   -2.79e+05   -2.25e+05
yr_renovated     34.9029      3.869      9.022      0.000      27.320      42.486
zipcode        -478.2908     34.866    -13.718      0.000    -546.630    -409.951
sqft_lot15       -0.3270      0.078     -4.204      0.000      -0.479      -0.175
sqft_living15    40.2918      3.613     11.153      0.000      33.211      47.373
==============================================================================
Omnibus:                    19523.105   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1945948.395
Skew:                           3.962   Prob(JB):                         0.00
Kurtosis:                      48.805   Cond. No.                     2.14e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.14e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""